p {
    font-size: 12px;
}
.heroClass {
    margin-top: 72px;
    position: relative;
    .homeHeroImg{
        width: 100%;
        height: auto;

    }
    .heroSlogan {
        color: white;
        font-size: 25px;
        position: absolute;
        width: 100%;
        bottom: 0;
        margin-bottom: 40px;
    }
}
.hotelDiv {
    position: relative;
    color: white;
    text-align: left;
    .hotelList {
        box-sizing: border-box;
        list-style-type: none;
        position: absolute;
        bottom: 0;
        margin-bottom: 0px;
        background-color: black;
        width: 100%;
        li {
            margin: 4px 0 8px 0;
        }
        .hotelName {
            font-size: 18px;
            margin-bottom: 4px;
        }
    }
    .btnBook {
        margin-bottom: 4px;
       a {
        text-decoration: none;
        color: black;
       }
    }
}

.hotelDiv {
    padding: 20px 0 0 0;
    width: 90%;
    margin: 20px 5% 30px 5%;

    .hotelPhoto { 
        width: 100%;
        height: auto;
    }
}

.loadingClass {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media only screen and (min-width: 768px) {
    .hotelDiv {
        padding: 50px 0 50px 0;
        float: left;
        width: 43%;
        margin: 0 3.5% 50px 3.5%;
    }
}

@media only screen and (min-width: 900px) {
    .hotelDiv {
        width: 29.3%;
        margin: 0 2% 50px 2%;
    }
}